@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Aenean interdum facilisis sem, a luctus tortor auctor vitae. Curabitur id ante a lorem porta condimentum. 
    Aliquam porttitor, est non mattis euismod, massa leo blandit risus, euismod elementum massa ligula ac magna. 
    Suspendisse vulputate sapien quis nisl mollis fringilla. Donec ut mi nisi. Nam lacus dolor, pellentesque vulputate risus et, 
    volutpat sodales ipsum. Vivamus porta ante sed velit vulputate, a laoreet felis dignissim. Proin ac pharetra metus. Class aptent
    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

    
    <p>@Html.ActionLink(Html.DisplayName("See our games here"),"ViewGames","Home")</p>
</div>
